{% extends 'base.html' %}

{% block content %}
<div>

    <h1><center>Welcome to SRMG Tracking System</center></h1>
    <div style="text-align: center;">
        <span>
            <a href="{% url 'search_results' %}">search_results</a>
        </span>

        <span>
            <a href="{% url 'create_par' %}">create_par</a>
        </span>
        <span>
            <a href="{% url 'par_list' %}">par_list</a>
        </span>
        <span>
            <a href="{% url 'register' %}">Register</a>
        </span>
        <span>
            <a href="{% url 'login' %}">Login</a>
        </span>

        <span>
            <a href="{% url 'user_pars' %}">user_pars</a>
        </span>


    </div>
<!-- <li><a href="{% url 'create_email_task' %}">send_email</a></li> -->
</div>


<!--     <form method="get">
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>
    {% if results %}
    <h2>Search Results:</h2>
    <ul>
        {% for result in results %}
        <li>{{ result }}</li>
        {% endfor %}
    </ul>
    {% endif %} -->
    {% endblock %}